In [1]:
import pandas as pd
from pathlib import Path

In [2]:
csvpath= Path('/Users/khashayarzare/Desktop/bootcamp/3.2 panda py/01-Ins_Reading_CSVs/Resources/sales.csv')

In [3]:
salesdataframe= pd.read_csv(csvpath)

In [4]:
salesdataframe.head()

,FullName,Email,Address,Zip,CreditCard,SalePrice
0,Elwanda White,alyre2036@live.com,352 Lakeshore Mall,9236,5327 0855 9720 7055,84.33
1,Lyndon Elliott,arrowy1873@outlook.com,1234 Avery Plaza,1330,3717 498777 19636,879.95
2,Daisey Sellers,toucan2024@outlook.com,469 Elwood Street,7631,3758 579477 35734,907.58
3,Issac Reeves,asarin1958@gmail.com,565 Phelps Field,81168,4400 0380 4162 1622,545.88
4,Bradford Kinney,mibound1801@yandex.com,853 Mission Rock Freeway,41721,3712 263405 60178,517.49

In [5]:
rsalesdataframe.describe()

                Zip   SalePrice
count    100.000000  100.000000
mean   40952.160000  533.007200
std    30207.118496  275.531072
min      555.000000   29.720000
25%    11109.750000  328.507500
50%    40033.500000  536.110000
75%    65834.750000  767.885000
max    99877.000000  998.760000

In [6]:
csvpath1= Path('/Users/khashayarzare/Desktop/bootcamp/3.2 panda py/01-Ins_Reading_CSVs/Resources/sales_no_header.csv')

In [15]:
sales_dataframe_no_header= pd.read_csv(csvpath1, header=None)

In [16]:
sales_dataframe_no_header.head()

,0,1,2,3,4,5
0,Elwanda White,alyre2036@live.com,352 Lakeshore Mall,9236,5327 0855 9720 7055,84.33
1,Lyndon Elliott,arrowy1873@outlook.com,1234 Avery Plaza,1330,3717 498777 19636,879.95
2,Daisey Sellers,toucan2024@outlook.com,469 Elwood Street,7631,3758 579477 35734,907.58
3,Issac Reeves,asarin1958@gmail.com,565 Phelps Field,81168,4400 0380 4162 1622,545.88
4,Bradford Kinney,mibound1801@yandex.com,853 Mission Rock Freeway,41721,3712 263405 60178,517.49

In [12]:
columns=['Full name', 'Email','Address', 'Zipcode', 'Creditcard#', 'Salesprice']

In [13]:
sales_dataframe_no_header.columns= columns

In [14]:
sales_dataframe_no_header.head()

,Full name,Email,Address,Zipcode,Creditcard#,Salesprice
0,Lyndon Elliott,arrowy1873@outlook.com,1234 Avery Plaza,1330,3717 498777 19636,879.95
1,Daisey Sellers,toucan2024@outlook.com,469 Elwood Street,7631,3758 579477 35734,907.58
2,Issac Reeves,asarin1958@gmail.com,565 Phelps Field,81168,4400 0380 4162 1622,545.88
3,Bradford Kinney,mibound1801@yandex.com,853 Mission Rock Freeway,41721,3712 263405 60178,517.49
4,Fermina Cobb,kingfisher2013@live.com,929 Prague Trail,16625,2351 7156 8193 8639,889.95

In [5]:
import pandas as pd
from pathlib import Path
csvpath2= Path('/Users/khashayarzare/Desktop/bootcamp/panda-3.2-py/03-Ins_Columns/Resources/customers.csv')

In [6]:
costumers_df= pd.read_csv(csvpath2)

In [7]:
costumers_df.columns

Index(['FullName', 'Email', 'Address', 'Zip', 'CreditCard', 'Balance'], dtype='object')

In [8]:
costumers_df.head(20)

,FullName,Email,Address,Zip,CreditCard,Balance
0,Altha Frederick,unhideable1966@gmail.com,67 John Maher Extension,31353,2524 2317 2139 4751,21511
1,Nickolas Harvey,allgood1803@outlook.com,1200 Madera Plaza,1922,4756 0997 9568 1329,13850
2,Jesusita Kinney,satsumas1954@yahoo.com,943 Gibb Highway,41535,3717 863466 48574,21254
3,Mose Gordon,antifowl1875@gmail.com,1073 Fell Trace,16098,5413 1700 6989 2835,5221
4,Cesar Valentine,acetaminol1979@yahoo.com,805 Marshall Promenade,99895,5173 4883 9215 4743,8300
5,Erich Wooten,commanding1927@gmail.com,239 Mckinley Line,13494,2409 0669 5036 3311,6863
6,Elias Ayers,breeds1855@gmail.com,1109 Teresita Point,41281,3469 558618 10693,17492
7,Boris Macdonald,pronounal1891@yahoo.com,641 Lexington Run,92696,3723 385818 86151,24022
8,Emilio Bird,blacklegging1855@yahoo.com,222 Moulton Brae,70027,2290 4873 9990 0632,23237
9,Vincenza Patel,octachord1995@yahoo.com,1245 Whiting Parkway,30788,3736 301018 61659,7716
10,Norberto Pollard,clarified1907@gmail.com,1362 Fulton Trace,73193,4194 4559 1314 2000,7392
11,Kristeen Hutchinson,pachytene1885@live.com,347 Deming Thruway,97440,4699 9501 3316 8645,2807
12,Jestine Mcdowell,barb2038@yandex.com,1102 Lagunitas Run,69054,5176 9940 4840 8539,8857
13,Emerson Hatfield,double2010@yandex.com,446 Bartol Bay,73992,3497 877229 27268,15761
14,Marcos Gilmore,occidentalism1859@yahoo.com,1329 Argonaut Esplanade,24929,4244 6172 4853 1393,5057
15,Malik Velez,siamese1936@outlook.com,925 Eastwood Stravenue,9986,3703 456661 72094,21045
16,Estell Mcknight,nonswimming1985@yahoo.com,814 Tompkins Plaza,20396,4891 5856 8926 8179,7078
17,Lilla Navarro,dockyards2058@yahoo.com,570 Peek Trace,15667,5208 9153 9009 0544,12993
18,Kallie Mcfarland,paucity1995@yahoo.com,585 Dock Field,76244,4819 6292 6429 1302,15658
19,Isiah Alexander,pouncing1910@live.com,571 Roscoe Gate,52510,3497 195524 75118,15901

In [20]:
costumers_df.rename(columns={"Full name": 'full name', 'Zip': 'Zip code'})

,FullName,Email,Address,Zip code,CreditCard,Balance,Balance(1K)
0,Altha Frederick,unhideable1966@gmail.com,67 John Maher Extension,31353,2524 2317 2139 4751,21511,21.511
1,Nickolas Harvey,allgood1803@outlook.com,1200 Madera Plaza,1922,4756 0997 9568 1329,13850,13.850
2,Jesusita Kinney,satsumas1954@yahoo.com,943 Gibb Highway,41535,3717 863466 48574,21254,21.254
3,Mose Gordon,antifowl1875@gmail.com,1073 Fell Trace,16098,5413 1700 6989 2835,5221,5.221
4,Cesar Valentine,acetaminol1979@yahoo.com,805 Marshall Promenade,99895,5173 4883 9215 4743,8300,8.300
...,...,...,...,...,...,...,...
95,Crystle Larson,plantula1818@live.com,1317 Cesar Chavez On Brae,74413,3474 949615 85541,5091,5.091
96,Jetta Davenport,doolittle1818@yandex.com,618 Williams Terrace,73152,4711 5533 4972 2249,16509,16.509
97,Dallas Johnston,mosso1961@live.com,324 Tenny Line,88215,3794 280688 77410,24196,24.196
98,Roberto Daugherty,ovenful1914@yandex.com,1058 Marengo Manor,33903,4972 5355 6633 9108,18828,18.828
99,Abel Walters,esson1909@yandex.com,89 Rivera Bypass,39186,3727 728484 48704,3400,3.400

In [11]:
costumers_df["Balance(1K)"]= costumers_df["Balance"]/ 1000

In [10]:
import pandas as pd
from pathlib import Path
csvpath1= Path('/Users/khashayarzare/Desktop/bootcamp/3.2 panda py/01-Ins_Reading_CSVs/Resources/sales_no_header.csv')
costumers_df= pd.read_csv(csvpath1)
costumers_df1.rename(columns={"Full name": 'full name', 'Zip': 'Zip code'})
customers_df= costumers_df[["credit_card_number", 'Account_balance', 'fullname', 'email', 'address', 'Zipcode']]

FileNotFoundError: [Errno 2] No such file or directory: '/Users/khashayarzare/Desktop/bootcamp/3.2 panda py/01-Ins_Reading_CSVs/Resources/sales_no_header.csv'

In [11]:
names= costumers_df["full name"].str.split('',expand= True)

NameError: name 'costumers_df' is not defined

In [21]:
costumers_df.head()

,FullName,Email,Address,Zip,CreditCard,Balance,Balance(1K)
0,Altha Frederick,unhideable1966@gmail.com,67 John Maher Extension,31353,2524 2317 2139 4751,21511,21.511
1,Nickolas Harvey,allgood1803@outlook.com,1200 Madera Plaza,1922,4756 0997 9568 1329,13850,13.850
2,Jesusita Kinney,satsumas1954@yahoo.com,943 Gibb Highway,41535,3717 863466 48574,21254,21.254
3,Mose Gordon,antifowl1875@gmail.com,1073 Fell Trace,16098,5413 1700 6989 2835,5221,5.221
4,Cesar Valentine,acetaminol1979@yahoo.com,805 Marshall Promenade,99895,5173 4883 9215 4743,8300,8.300