In [10]:
from pathlib import Path
import pandas as pd 
addy= Path('/Users/khashayarzare/Desktop/bootcamp/panda-3.2-py/04-Ins_Data_Cleaning/Resources/order_data.csv')
csv_data= pd.read_csv(addy)
csv_data.sample(5)

     order_no customer_no order_total  order_date
0   452517125    CM458565     $141.25  01-10-2019
4   413853121    CM458565         NaN   4/24/2019
7   452519232         NaN     $141.25  01-10-2019
1    45251825    CJ458565       14.00  04/25/2019
2  4465241327     AK45765    $1103.36  04-25-2019

In [3]:
# Add a column to costumers_df
# names= costumers_df['full name'].str.split(" ", expand= True)
# costumers_df['first name']= names[0]
# costumers_df['last name']= names[1]

# delete column
# costumers_df= costumers_df.drop(columns=['full name'])


# DATA cleaning

In [9]:
csv_data.dtypes

order_no        int64
customer_no    object
order_total    object
order_date     object
dtype: object

In [11]:
csv_data.isnull()

   order_no  customer_no  order_total  order_date
0     False        False        False       False
1     False        False        False       False
2     False        False        False       False
3     False        False        False       False
4     False        False         True       False
5     False        False        False       False
6     False        False        False       False
7     False         True        False       False

In [13]:
csv_data['customer_no'].value_counts()

CM458565    2
AK45765     2
CJ458565    1
TV4663      1
2124        1
Name: customer_no, dtype: int64

In [18]:
csv_data.isnull()

   order_no  customer_no  order_total  order_date
0     False        False        False       False
1     False        False        False       False
2     False        False        False       False
3     False        False        False       False
4     False        False         True       False
5     False        False        False       False
6     False        False        False       False
7     False         True        False       False

In [19]:
csv_data.isnull().mean()*100

order_no        0.0
customer_no    12.5
order_total    12.5
order_date      0.0
dtype: float64

In [24]:
csv_data['customer_no']= csv_data["customer_no"].fillna('Unknown')
csv_data

     order_no customer_no order_total  order_date
0   452517125    CM458565     $141.25  01-10-2019
1    45251825    CJ458565       14.00  04/25/2019
2  4465241327     AK45765    $1103.36  04-25-2019
3  4465241327     AK45765    $1103.36  04-25-2019
4   413853121    CM458565         NaN   4/24/2019
5    45235825      TV4663       65.42  04-29-2019
6     2356363        2124   258936.12  04-29-2019
7   452519232     Unknown     $141.25  01-10-2019

In [25]:
csv_data.duplicated()

0    False
1    False
2    False
3     True
4    False
5    False
6    False
7    False
dtype: bool

In [27]:
csv_data= csv_data.drop_duplicates().copy()

In [29]:
csv_data.head

<bound method NDFrame.head of      order_no customer_no order_total  order_date
0   452517125    CM458565     $141.25  01-10-2019
1    45251825    CJ458565       14.00  04/25/2019
2  4465241327     AK45765    $1103.36  04-25-2019
4   413853121    CM458565         NaN   4/24/2019
5    45235825      TV4663       65.42  04-29-2019
6     2356363        2124   258936.12  04-29-2019
7   452519232     Unknown     $141.25  01-10-2019>

In [30]:
csv_data.dtypes

order_no        int64
customer_no    object
order_total    object
order_date     object
dtype: object

In [36]:
csv_data["order_total"]= csv_data["order_total"].str.replace('$', '')

AttributeError: Can only use .str accessor with string values!

In [37]:
csv_data["order_total"]= csv_data["order_total"].astype("float")

In [38]:
csv_data["order_total"].head

<bound method NDFrame.head of 0       141.25
1        14.00
2      1103.36
4          NaN
5        65.42
6    258936.12
7       141.25
Name: order_total, dtype: float64>

In [1]:
from pathlib import Path
import pandas as pd

In [2]:
pathway= Path('/Users/khashayarzare/Desktop/bootcamp/panda-3.2-py/05-Stu_Data_Cleaning/Unsolved/spring_cleaning.ipynb')