In [1]:
'''Notes: 
Sorting: sort values using -- df.sort_values( "column", ascending(or any other qualifier)= False)
sort_index('') --- sorts the index 

sort multiple columns = df.sortvalues(["price", "volume"] axis = 0 )


Grouping: --use groupby()
its like autosum


'''

'Notes: \nSorting: sort values using -- df.sort_values( "column", ascending(or any other qualifier)= False)\nsort_index(\'\') --- sorts the index \n\n\n\n\n\n\n'

In [3]:
import pandas as pd 
from pathlib import Path

In [4]:
csvpath = Path("/Users/khashayarzare/Desktop/Carleton University/bootcamp/python 3.3/02-Stu_Sorting/Resources/bb_stock_data.csv")

In [5]:
bb_csv= pd.read_csv(csvpath)

In [6]:
bb_csv.head()

     Date  Close
0  1/2/19   9.64
1  1/3/19   9.29
2  1/4/19   9.67
3  1/7/19   9.88
4  1/8/19   9.82

In [8]:
bb_csv = bb_csv.set_index("Date")

In [9]:
daily_return= (bb_csv- bb_csv.shift(1))/ bb_csv

In [24]:
daily_return= daily_return.pct_change()
daily_return.head()

           Close
Date
1/2/19       NaN
1/3/19       NaN
1/4/19 -2.043049
1/7/19 -0.459115
1/8/19 -1.287460

In [25]:
bb_csv= bb_csv.sort_values(by= ["Close"], ascending=False)

In [22]:
big5= bb_csv.iloc[1:5]
big5.head()

         Close
Date
4/2/19   12.81
4/3/19   12.76
4/1/19   12.75
3/15/19  12.63

In [72]:
csvpath1= Path("/Users/khashayarzare/Desktop/Carleton University/bootcamp/python 3.3/03-Ins_Groupby/Resources/crypto_data.csv")

In [73]:
cry_csv1=pd.read_csv(csvpath1)

In [74]:
cry_csv1.head()

  cryptocurrency   data_price data_date     data_time     timestamp
0        bitcoin          NaN    5/9/17  1.494290e+12  1.557290e+12
1        bitcoin  1743.723523   5/10/17  1.494370e+12           NaN
2        bitcoin  1828.678209   5/11/17  1.494460e+12           NaN
3        bitcoin  1776.443919   5/12/17  1.494550e+12           NaN
4        bitcoin  1714.964198   5/13/17  1.494630e+12           NaN

In [75]:
cry_csv1= cry_csv1.drop(columns= ["data_time", "timestamp"])

In [76]:
cry_csv1= cry_csv1.set_index(["data_date"])

In [77]:
cry_csv1= cry_csv1.sort_index()

In [78]:
cry_csv1= cry_csv1.dropna()

In [79]:
cry_grp= cry_csv1.groupby("cryptocurrency")

In [80]:
cry_grp

In [81]:
cry_grp.head()

          cryptocurrency    data_price
data_date
1/1/18          ethereum    746.294369
1/1/18           bitcoin  13430.402680
1/1/18          litecoin    223.960491
1/1/18            ripple      1.921650
1/1/18      bitcoin-cash   2337.254495
1/1/19          ethereum    136.454445
1/1/19          litecoin     30.949385
1/1/19           bitcoin   3770.224396
1/1/19      bitcoin-cash    160.621333
1/1/19            ripple      0.357309
1/10/18     bitcoin-cash   2537.125498
1/10/18          bitcoin  14234.745240
1/10/18         ethereum   1312.390419
1/10/18           ripple      1.921740
1/10/18         litecoin    241.926277
1/10/19         litecoin     35.579160
1/10/19     bitcoin-cash    144.199967
1/10/19         ethereum    136.645917
1/10/19          bitcoin   3833.935804
1/10/19           ripple      0.351125
1/11/18          bitcoin  13805.605760
1/11/18           ripple      1.868782
1/11/18         ethereum   1218.209479
1/11/18     bitcoin-cash   2563.859697
1/11/18         litecoin    234.167843

In [82]:
cry_grp1 = cry_csv.groupby("cryptocurrency").mean()

In [84]:
rounded_grp= cry_csv()

NameError: name 'crypto_group' is not defined