In [4]:
os.getcwd()

'/Users/khashayarzare'

In [2]:
import pandas as pd
import csv
import os
import numpy as np
 
os.getcwd()
os.chdir('/Users/khashayarzare/Desktop/bootcamp/challenge2/PyBank/Resources')
with open('budget_data.csv', 'rb') as b:

    bud_reader= pd.read_csv(b)

    bud_reader.head()

    bud_reader.tail()

    bud_reader.describe()

    date= bud_reader['d']

    profit=bud_reader['Profit/Losses']

    print(np.max(profit))

    print(np.average(profit))


#1170593
#446309.0465116279

    avg_month= np.average(profit)

    total_Ï€= avg_month* 86

    bud_reader.info()

1170593
446309.0465116279
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   d              86 non-null     object
 1   Profit/Losses  86 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.5+ KB

In [3]:
print(np.max(profit))

1170593

In [4]:
 print(np.average(profit))

446309.0465116279

In [5]:
bud_reader.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   d              86 non-null     object
 1   Profit/Losses  86 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.5+ KB

In [6]:
months= len(date)
print('Financial Analysis')
print('-----------------------')
print( f'total months:  {months}')

Financial Analysis
-----------------------
total months:  86

In [7]:
rows=[]
for row in bud_reader['Profit/Losses']:
    rows.append(row)

profit_totes= sum(rows)
print(f'Total profits: ', profit_totes)

Total profits:  38382578

In [8]:
print(avg_month)

446309.0465116279

In [9]:
bud_reader.head(10)

        d  Profit/Losses
0  10-Jan         867884
1  10-Feb         984655
2  10-Mar         322013
3  10-Apr         -69417
4  10-May         310503
5  10-Jun         522857
6  10-Jul        1033096
7  10-Aug         604885
8  10-Sep        -216386
9  10-Oct         477532

In [10]:
""" text
  Financial Analysis
  ----------------------------
  Total Months: 86
  Total: $38382578
  Average  Change: $-2315.12
  Greatest Increase in Profits: Feb-2012 ($1926159)
  Greatest Decrease in Profits: Sep-2013 ($-2196167)
  ```"""

' text\n  Financial Analysis\n  ----------------------------\n  Total Months: 86\n  Total: $38382578\n  Average  Change: $-2315.12\n  Greatest Increase in Profits: Feb-2012 ($1926159)\n  Greatest Decrease in Profits: Sep-2013 ($-2196167)\n  ```'

In [11]:
"""
    The total number of months included in the dataset.

    * The net total amount of Profit/Losses over the entire period.

    * The average of the changes in Profit/Losses over the entire period.

    * The greatest increase in profits (date and amount) over the entire period.

    * The greatest decrease in losses (date and amount) over the entire period.

    Your resulting analysis should look similar to the following:
"""

'\n    The total number of months included in the dataset.\n\n    * The net total amount of Profit/Losses over the entire period.\n\n    * The average of the changes in Profit/Losses over the entire period.\n\n    * The greatest increase in profits (date and amount) over the entire period.\n\n    * The greatest decrease in losses (date and amount) over the entire period.\n\n    Your resulting analysis should look similar to the following:\n'

In [12]:
rows=[]
for row in bud_reader['Profit/Losses']:
    rows.append(row)
print(rows)
print(len(rows))

[867884, 984655, 322013, -69417, 310503, 522857, 1033096, 604885, -216386, 477532, 893810, -80353, 779806, -335203, 697845, 793163, 485070, 584122, 62729, 668179, 899906, 834719, 132003, 309978, -755566, 1170593, 252788, 1151518, 817256, 570757, 506702, -1022534, 475062, 779976, 144175, 542494, 359333, 321469, 67780, 471435, 565603, 872480, 789480, 999942, -1196225, 268997, -687986, 1150461, 682458, 617856, 824098, 581943, 132864, 448062, 689161, 800701, 1166643, 947333, 578668, 988505, 1139715, 1029471, 687533, -524626, 158620, 87795, 423389, 840723, 568529, 332067, 989499, 778237, 650000, -1100387, -174946, 757143, 445709, 712961, -1163797, 569899, 768450, 102685, 795914, 60988, 138230, 671099]
86

In [13]:
diff=[]
for r in range((len(rows))-1): 
    dif= rows[(r+1)]- rows[(r)]
    diff.append(dif)

In [14]:
best_months= (max(diff))
worst_months= (min(diff))

In [15]:

for i in diff:
    if i == 1926159:
        index= diff.index(i)
        print(index)
    elif i== -2196167:
        index= diff.index(i)
        print(index)
    else:pass

24
43

In [16]:
inc_date= bud_reader['d'][25]
dec_date= bud_reader['d'][44]

print('Greatest increase in Profits:', inc_date, '($',best_months,')')
print('Greatest Decrease in Profits:', dec_date, '($',worst_months,')')

Greatest increase in Profits: 12-Feb ($ 1926159 )
Greatest Decrease in Profits: 13-Sep ($ -2196167 )

In [17]:
average_difference= np.average(diff)

In [18]:
change_average=round(np.average(diff), 2)


total_months=  f'total number of months included in this dataset is:  {months}'
net_total= np.sum(profit)

print('Financial Analysis')
print('-----------------------')
print(total_months)
print(f'Total profit is: {net_total}')
print('The average change in Profit/Losses', change_average)
print('Greatest increase in Profits:', inc_date, '($',best_months,')')
print('Greatest Decrease in Profits:', dec_date, '($',worst_months,')')

Financial Analysis
-----------------------
total number of months included in this dataset is:  86
Total profit is: 38382578
The average change in Profit/Losses -2315.12
Greatest increase in Profits: 12-Feb ($ 1926159 )
Greatest Decrease in Profits: 13-Sep ($ -2196167 )

In [19]:
pwd

'/Users/khashayarzare/Desktop/bootcamp/challenge2/PyBank/Resources'

In [20]:
cd '/Users/khashayarzare/Desktop/bootcamp/challenge2'

/Users/khashayarzare/Desktop/bootcamp/challenge2

In [21]:
pwd

'/Users/khashayarzare/Desktop/bootcamp/challenge2'

In [24]:
with open('challenge_two_output.txt', 'w')as f:
    f.write("'Financial Analysis'")
    f.write('\n')
    f.write('-----------------------')
    f.write('\n')
    f.write(total_months)
    f.write('\n')
    f.write(f'Total profit is: {net_total}')
    f.write('\n')    
    f.write(f'The average change in Profit/Losses, {change_average}')
    f.write('\n')    
    f.write(f'Greatest increase in Profits: {inc_date} , ${best_months}')
    f.write('\n')    
    f.write(f'Greatest Decrease in Profits: {dec_date} , ${worst_months}')

In [23]:
if os.path.exists('/Users/khashayarzare/Desktop/bootcamp/challenge2/challenge_two_output.txt'): print('it exists')

it exists